<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zjz.housekeeping.dao.EvaluateDao">
    <resultMap id="evaluateMap" type="com.zjz.housekeeping.module.entity.Evaluate">
        <id property="evaluateId" column="evaluateId"/>
        <result property="userId" column="userId"/>
        <result property="keeperId" column="keeperId"/>
        <result property="orderId" column="orderId"/>
        <result property="evaluateStar" column="evaluateStar"/>
        <result property="evaluateDetail" column="evaluateDetail"/>
        <result property="evaluateTime" column="evaluateTime"/>
        <association property="user" column="userId"
                     resultMap="com.zjz.housekeeping.dao.UserDao.userMap"/>
        <association property="keeper" column="keeperId"
                     resultMap="com.zjz.housekeeping.dao.KeeperDao.keeperMap"/>

    </resultMap>

    <!--    <resultMap id="evaluateDtoMap" extends="evaluateMap" type="com.zjz.housekeeping.module.dto.EvaluateDto">-->
    <!--        <result column="search" property="search"/>-->
    <!--        <result column="browse" property="browse"/>-->
    <!--        <result column="consume" property="consume"/>-->
    <!--    </resultMap>-->


    <!-- 添加 -->
    <insert id="add" parameterType="Evaluate">
        insert into tb_evaluate
        values (#{evaluateId}, #{userId},#{keeperId},#{orderId},#{evaluateStar}, #{evaluateDetail},#{evaluateTime}})
    </insert>

    <!-- 删除 -->
    <delete id="delete" parameterType="int">
        delete
        from tb_evaluate
        where evaluateId = #{evaluateId}
    </delete>

    <!-- 动态修改 -->
    <update id="update" parameterType="Evaluate">
        update tb_evaluate e
        <set>
            <if test="userId !=null">
                e.userId = #{userId},
            </if>
            <if test="keeperId !=null">
                e.keeperId = #{keeperId},
            </if>
            <if test="orderId !=null">
                e.orderId = #{orderId},
            </if>
            <if test="evaluateStar !=null">
                e.evaluateStar = #{evaluateStar},
            </if>
            <if test="evaluateDetail !=null">
                e.evaluateDetail = #{evaluateDetail},
            </if>
            <if test="evaluateTime !=null">
                e.evaluateTime = #{evaluateTime},
            </if>

        </set>
        where e.evaluateId = #{evaluateId}
    </update>

    <!-- Id查询 -->
    <select id="queryById" parameterType="Evaluate" resultMap="evaluateMap">
        select *
        from tb_evaluate e
        where e.evaluateId = #{evaluateId}
    </select>


    <sql id="selectActive">
        <where>
            <if test="evaluateId != null">
                e.evaluateId = #{evaluateId}
            </if>
            <if test="userId != null">
                and e.userId like
                concat('%',#{userId},'%')
            </if>
            <if test="keeperId != null">
                and e.keeperId = #{keeperId}
            </if>
            <if test="orderId != null">
                and e.orderId = #{orderId}
            </if>
            <if test="evaluateStar != null">
                and e.evaluateStar = #{evaluateStar}
            </if>
            <if test="evaluateTime != null">
                and e.evaluateTime like
                concat('%',#{evaluateTime},'%')
            </if>
        </where>
    </sql>

    <!-- 动态模糊查询 -->
    <select id="queryCondition" parameterType="Evaluate" resultMap="evaluateMap">
        select * from tb_evaluate e
        <!-- 查询条件 -->
        <include refid="selectActive"/>
    </select>

    <!-- 分页 -->
    <select id="queryBySelectActive" resultMap="evaluateMap">
        select e.*,u.*,k.*,s.* from tb_evaluate e
        LEFT JOIN tb_user u ON (e.userId = u.userId)
        LEFT JOIN tb_keeper k ON (e.keeperId = k.keeperId)
        <include refid="selectActive"/>
        EVALUATE BY o.evaluateDetail DESC
        <!-- 分页-->
        <if test="currentPage != null and pageSize != null">
            <bind name="start" value="(currentPage - 1) * pageSize"/>
            limit #{start},#{pageSize}
        </if>
    </select>

    <select id="countBySelectActive" resultType="int">
        select count(1) from tb_evaluate o

        <include refid="selectActive"/>
    </select>



</mapper>