<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zjz.housekeeping.dao.OrderDao">
    <resultMap id="orderMap" type="com.zjz.housekeeping.module.entity.Order">
        <id property="orderId" column="orderId"/>
        <result property="userId" column="userId"/>
        <result property="keeperId" column="keeperId"/>
        <result property="serviceId" column="serviceId"/>
        <result property="timeSlot" column="timeSlot"/>
        <result property="createTime" column="createTime"/>
        <result property="money" column="money"/>
        <result property="payTime" column="payTime"/>
        <result property="evaluateId" column="evaluateId"/>
        <result property="evaluateTime" column="evaluateTime"/>
        <result property="status" column="status"/>
        <association property="user" column="userId"
                     resultMap="com.zjz.housekeeping.dao.UserDao.userMap"/>
        <association property="keeper" column="keeperId"
                     resultMap="com.zjz.housekeeping.dao.KeeperDao.keeperMap"/>
        <association property="service" column="serviceId"
                     resultMap="com.zjz.housekeeping.dao.ServiceDao.serviceMap"/>
        <association property="evaluate" column="evaluateId"
                     resultMap="com.zjz.housekeeping.dao.EvaluateDao.evaluateMap"/>
    </resultMap>
    <resultMap id="keeperMap" type="com.zjz.housekeeping.module.entity.Keeper">
        <id property="keeperId" column="keeperId"/>
        <result property="keeperName" column="keeperName"/>
        <result property="keeperPhone" column="keeperPhone"/>
        <result property="keeperGender" column="keeperGender"/>
        <result property="keeperAvatar" column="keeperAvatar"/>
        <result property="keeperType" column="keeperType"/>
        <result property="keeperPwd" column="keeperPwd"/>
        <result property="star" column="star"/>
        <result property="appointment" column="appointment"/>
        <result property="age" column="age"/>
        <result property="nativePlace" column="nativePlace"/>
        <result property="feature" column="feature"/>
        <result property="introduce" column="introduce"/>
        <result property="years" column="years"/>
        <result property="regTime" column="regTime"/>
        <association property="service" column="serviceId"
                     resultMap="com.zjz.housekeeping.dao.ServiceDao.serviceMap"/>
    </resultMap>
    <resultMap id="serviceMap" type="com.zjz.housekeeping.module.entity.Service">
        <id property="serviceId" column="serviceId"/>
        <result property="serviceBigType" column="serviceBigType"/>
        <result property="serviceSmallType" column="serviceSmallType"/>

    </resultMap>

    <!-- 添加 -->
    <insert id="add" parameterType="Order">
        insert into tb_order
        values (#{orderId}, #{userId},#{keeperId},#{serviceId},#{timeSlot}, #{createTime},#{money},
                #{payTime}, #{evaluateId}, #{evaluateTime}, #{status})
    </insert>

    <!-- 删除 -->
    <delete id="delete" parameterType="int">
        delete
        from tb_order
        where orderId = #{orderId}
    </delete>

    <!-- 动态修改 -->
    <update id="update" parameterType="Order">
        update tb_order o
        <set>
            <if test="userId !=null ">
                o.userId = #{userId},
            </if>
            <if test="keeperId !=null">
                o.keeperId = #{keeperId},
            </if>
            <if test="serviceId !=null">
                o.serviceId = #{serviceId},
            </if>
            <if test="timeSlot !=null">
                o.timeSlot = #{timeSlot},
            </if>
            <if test="createTime !=null">
                o.createTime = #{createTime},
            </if>
            <if test="money !=null">
                o.money = #{money},
            </if>
            <if test="payTime !=null">
                o.payTime = #{payTime},
            </if>
            <if test="evaluateId !=null">
                o.evaluateId = #{evaluateId},
            </if>
            <if test="evaluateTime !=null">
                o.evaluateTime = #{evaluateTime},
            </if>
            <if test="status !=null">
                o.status = #{status},
            </if>
        </set>
        where o.orderId = #{orderId}
    </update>

    <!-- Id查询 -->
    <select id="queryById" parameterType="Order" resultMap="orderMap">
        select *
        from tb_order o
        where o.orderId = #{orderId}
    </select>


    <sql id="selectActive">
        <where>
            <if test="orderId != null">
                o.orderId = #{orderId}
            </if>
            <if test="userId != null">
                and o.userId = #{userId}
            </if>
            <if test="userName != null">
                and u.userName like
                concat('%',#{userName},'%')
            </if>
            <if test="keeperId != null">
                and o.keeperId = #{keeperId}
            </if>
            <if test="keeperName != null">
                and k.keeperName like
                concat('%',#{keeperName},'%')
            </if>
            <if test="serviceId != null">
                and o.serviceId = #{serviceId}
            </if>
            <if test="timeSlot != null">
                and o.timeSlot = #{timeSlot}
            </if>
            <if test="payTime != null">
                and o.payTime like
                concat('%',#{payTime},'%')
            </if>
            <if test="evaluateId != null">
                and o.evaluateId like
                concat('%',#{evaluateId},'%')
            </if>
            <if test="status !=null">
                o.status = #{status}
            </if>
        </where>
    </sql>

    <!-- 动态模糊查询 -->
    <select id="queryCondition" parameterType="Order" resultMap="orderMap">
        select o.*,u.*,k.*,s.*,e.* from tb_order o
        LEFT JOIN tb_user u ON (o.userId = u.userId)
        LEFT JOIN tb_keeper k ON (o.keeperId = k.keeperId)
        LEFT JOIN tb_service s ON (o.serviceId = s.serviceId)
        LEFT JOIN tb_evaluate e ON (o.evaluateId = e.evaluateId)
        <include refid="selectActive"/>
        ORDER BY o.createTime DESC
    </select>

    <!-- 分页 -->
    <select id="queryBySelectActive" resultMap="orderMap">
        select o.*,u.*,k.*,s.*,e.* from tb_order o
        LEFT JOIN tb_user u ON (o.userId = u.userId)
        LEFT JOIN tb_keeper k ON (o.keeperId = k.keeperId)
        LEFT JOIN tb_service s ON (o.serviceId = s.serviceId)
        LEFT JOIN tb_evaluate e ON (o.evaluateId = e.evaluateId)
        <include refid="selectActive"/>
        ORDER BY o.createTime DESC
        <!-- 分页-->
        <if test="currentPage != null and pageSize != null">
            <bind name="start" value="(currentPage - 1) * pageSize"/>
            limit #{start},#{pageSize}
        </if>
    </select>

    <select id="countBySelectActive" resultType="int">
        select count(1) from tb_order o

        <include refid="selectActive"/>
    </select>

    <!-- 热门推荐   -->
    <select id="hotRecommend"  resultMap="serviceMap">
        -- 联表查询
        SELECT s.*
        FROM tb_service AS s
                 JOIN (
            SELECT serviceId, COUNT(*) AS num
            FROM tb_order
            GROUP BY serviceId
        ) AS o ON s.serviceId = o.serviceId
        ORDER BY o.num DESC;
    </select>
    <!-- 用户推荐   -->
    <select id="userRecommend" parameterType="user" resultMap="keeperMap">
        -- 联表查询
        SELECT k.*,s.*
        FROM tb_keeper AS k
            LEFT JOIN (
                SELECT serviceId, COUNT(*) AS num
                FROM tb_order
                WHERE userId = #{userId}
                GROUP BY serviceId
            ) AS o ON k.keeperType = o.serviceId
            LEFT JOIN tb_service AS s ON (k.keeperType = s.serviceId)
        ORDER BY o.num DESC;
    </select>


    <!-- 用户推荐 -->

    <!--    <select id="getCollectCategory" resultType="int">-->
    <!--        select g.categoryId-->
    <!--        from tb_order o-->
    <!--                 LEFT JOIN tb_collect c ON (o.orderId = c.orderId)-->
    <!--                 LEFT JOIN tb_product p ON (c.productId = p.productId)-->
    <!--                 LEFT OUTER JOIN tb_category g ON (p.categoryId = g.categoryId)-->
    <!--        where c.orderId = #{orderId}-->
    <!--          and c.productId = p.productId-->
    <!--    </select>-->


    <!--    <select id="getCartCategory" resultType="int">-->
    <!--        select g.categoryId-->
    <!--        from tb_order o-->
    <!--                 LEFT JOIN tb_cart c ON (o.orderId = c.orderId)-->
    <!--                 LEFT JOIN tb_product p ON (c.productId = p.productId)-->
    <!--                 LEFT OUTER JOIN tb_category g ON (p.categoryId = g.categoryId)-->
    <!--        where c.orderId = #{orderId}-->
    <!--          and c.productId = p.productId-->
    <!--    </select>-->


    <!--    <select id="getOrderRecommend" parameterType="int" resultMap="orderDtoMap">-->
    <!--        select o.*-->
    <!--        from tb_order u-->
    <!--                 LEFT JOIN tb_collect c ON (o.orderId = c.orderId)-->
    <!--                 LEFT JOIN tb_product p ON (c.productId = p.productId)-->
    <!--                 LEFT JOIN tb_img i ON (p.imgId = i.imgId)-->
    <!--        where o.orderId = #{orderId}-->
    <!--    </select>-->

</mapper>